body{
font-family: Arial;
margin:0;
background:#f5f5f5;
}

header{
background:#3e7c4c;
color:white;
padding:20px;
text-align:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

.hero{
background:#8fd694;
padding:60px;
text-align:center;
}

button{
background:#ff914d;
border:none;
padding:12px 20px;
font-size:16px;
cursor:pointer;
border-radius:6px;
}

.services{
display:flex;
justify-content:center;
gap:20px;
padding:40px;
flex-wrap:wrap;
}

.box{
background:white;
padding:20px;
width:250px;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
text-align:center;
}

.box img{
width:100%;
border-radius:10px;
}

.contact{
display:flex;
flex-direction:column;
width:300px;
margin:auto;
gap:10px;
}

.contact input,
.contact textarea{
padding:10px;
}

footer{
background:#3e7c4c;
color:white;
text-align:center;
padding:20px;
margin-top:30px;
}

.title{
text-align:center;
margin-top:30px;
}